import classnames from "classnames/bind";
import React from "react";
{{#if parent}}
import styles from "../../{{properCase parent}}.module.css";
{{else}}
import styles from "./{{properCase name}}.module.css";
{{/if}}

const cx = classnames.bind(styles);

/**
 * FIXME: Description of {{properCase name}}
 */
export const {{properCase name}} = ({ children }: { children?: React.ReactNode }) => {
  const className = cx({
    {{properCase name}}: true,
  });
  return <div className={className}>{children}</div>;
};

{{#if parent}}
{{properCase name}}.displayName = "{{properCase parent}}.{{properCase name}}";
{{/if}}
